body {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("/images/distance.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    margin-top: 5px;
    height: 40px;

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.panel {
    padding: 50px;
}

.panel-transparent {
    background: rgba(46, 51, 56, 0.5);
}

.well-transparent {
    background: rgba(46, 51, 56, 0.8);
}

p {
    color: white;
}

a {
    color: hotpink;
}

.locHeading {
    color: white;
}

.indexHikeList {
    padding-bottom: 250px;
}

.hikeFormDiv {
    padding-bottom: 250px;
}
