
.bg {
    background-image: url("/images/distance.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 700px;

}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    margin-top: 5px;
    height: 40px;

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.panel {
    padding: 50px;
}

.panel-transparent {
    background: rgba(46, 51, 56, 0.5);
}

.well-transparent {
    background: rgba(46, 51, 56, 0.8);
}

h1 {
    color: #36f3f9; /* teal */
}

h3 {
    color: #36f3f9; /* teal */
}

h4 {
    color: #36f3f9; /* teal */
}

p {
    color: #d0dfe0; /* whitegrey */
}

a {
    color: #f936f3; /* hotpink */
}

label {
    color: #d0dfe0; /* whitegrey */
}
