{{#partial "content"}}

    <h1> List of Hikes!</h1>

    {{#if hikes}}
        {{#each hikes}}
            <p>{{nameOfHike}} <a href="/hikes/{{id}}">read more...</a></p>
        {{/each}}
    {{else}}
        <p>No tasks!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}